<!DOCTYPE html>
<html lang="en" ng-app='myApp'>

<head>
	<meta charset="UTF-8">
	<title>Angular</title>

	<link rel="stylesheet" type="text/css" href="toDoList.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>

<body ng-controller='MainCtrl'>
	<div class="container">
		<form>
			<input type="text" placeholder="Name" required ng-model="newtodo.name">
			<input type="text" placeholder="Description" required ng-model="newtodo.description">
			<input type="text" placeholder="URL" required ng-model="newtodo.url">
			<input type="text" placeholder="Price" required ng-model="newtodo.price">

			<button ng-click="submit(newtodo)"> Submit</button>


		</form>

		<div class="row">


			<div ng-repeat="todo in todos track by $index">

				<div class="row">

				</div>
				<div class="form-group">
					<ul>
						<li style="list-style-type:none" ng-class="{strike: deleted }"> <input type="checkbox" ng-model="deleted">{{todo.name}} {{todo.description}} {{todo.url}} {{todo.price}}</li>
					</ul>
					<button ng-click="delite($index)"> Delite</button>
				</div>

			</div>

		</div>
	</div>


	<!--
<p ng-class="{strike: deleted, bold: important, 'has-error': error}">Map Syntax Example</p>
<label>
   <input type="checkbox" ng-model="deleted">
   deleted (apply "strike" class)
-->



	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
	<script src="toDoListAng.js"></script>

</body>

</html>
