<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
	<meta charset="UTF-8">
	<title>UGLY THINGS ANGULAR</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="uglyThings.css">
</head>

<body ng-controller="MainController">
	<div class="wrapper form-wrapper container-fluid">
		<form>
			<div class="row">
				<div class="col-xs-3">
					<input type="text" placeholder="Title" ng-model="title" ng-minlength="3">
				</div>

				<div class="col-xs-offset-1 col-xs-3">
					<input type="text" placeholder="Img URL" ng-model="uglyThing.img" ng-minlength="3">
				</div>

				<div class="col-xs-offset-1 col-xs-3">
					<input type="text" placeholder="Description" ng-model="uglyThing.description" ng-minlength="1">
				</div>

				<div class="col-xs-offset-5 col-xs-4 ">
					<button class="btn-round" type='submit' value='Submit' id="btn" ng-click="submit(uglyThing); ">Submit</button>
				</div>
			</div>
		</form>
	</div>

	<div class="ugly-things-display wrapper container-fluid">
		<div class="row">
			<div class="ugly-things-header col-xs-12 ">
				<h2>These are a few of my ugly things</h2>
			</div>

			<div ng-repeat="uglyThing in allUglyThings" class="">
				<h3 ng-model="uglyThing.title"> {{uglyThing.title}}</h3>
			</div>

			<div ng-repeat="uglyThing in allUglyThings" class="">
				<h4 ng-model="uglyThing.description"> {{uglyThing.description}}</h4>
			</div>

			<div ng-repeat="uglyThing in allUglyThings" class="">
				<img ng-src={{uglyThing.img}} />
			</div>

		</div>

		<!--TESTERS-->



		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script src="uglyThings.js"></script>
</body>

</html>
