h1{
    text-align: center;
}
h2{ text-align: center;
    
}
img{
    float: left;
    padding: :20px;
height: 150px;
    margin-top: 16px;
    margin-right: 15px;
}
.plswork{
  display:block;
}
.column1{ float: left; width: 33%; }
.column2{ float: right; width: 33%; }
.column3{ display: inline-block; width: 33%; }