h1,h2 {

    color: darkgreen;
text-align: center;
    
}
h1{
    color: darkgreen;
}
p{
    line-height: 25px;
}
a {text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.like {
    text-transform: uppercase;
}
img{
    float: left;
    padding: :20px;
}